DATABASE_URL=sqlite+aiosqlite:///./smm_panel_demo.db
MORETHAN_API_KEY=replace_me
MORETHAN_LIKE_ID=0
MORETHAN_FOLLOW_ID=0
MORETHAN_LIKE_COMMENT_ID=0
FB_HEADLESS=true
ADMIN_LOGIN=admin
ADMIN_PASS=change_me
APIFY_API_TOKEN=replace_me
