DATABASE_URL=sqlite+aiosqlite:///./smm_panel_demo.db
MEDYABAYIM_API_URL=https://medyabayim.com/api/v2
MEDYABAYIM_API_KEY=replace_me
MEDYABAYIM_LIKE_ID=11928
MEDYABAYIM_FOLLOW_ID=11927
MEDYABAYIM_LIKE_COMMENT_ID=2057
FB_HEADLESS=true
ADMIN_LOGIN=admin
ADMIN_PASS=change_me
APIFY_API_TOKEN=replace_me
